* {
  box-sizing: border-box;
  font-family: 'Lato', sans-serif;

  --primary: hsl(160deg, 100%, 30%);
  --secondary-lighter: hsl(45deg, 100%, 50%);

  --secondary-darker: hsl(46deg, 100%, 40%);
  --black: hsl(0deg, 0%, 0%);
  --medium: hsl(0deg, 0%, 40%);
  --light: hsl(0deg, 0%, 60%);
  --white: hsl(0deg, 0%, 100%);
}

html,
body {
  margin: 0;
  padding: 0;
}

.title {
  font-size: 2rem;
  line-height: 1.2;
  margin-bottom: 3rem; 
}

p {
  font-size: 1.25rem;
  line-height: 1.5;
  color: var(--black);
  margin-top: 16px;
  margin-bottom: 1rem;
}

p:last-child {
  margin-bottom: 0;
}

strong {
  color: var(--primary);
}

header {
  border-bottom: 8px solid var(--light);
}

.max-width-wrapper {
  max-width: 800px;
  padding: 0 24px;
  margin: 0 auto;
  min-height: 100%;
}

.intro-chunk {
  margin-top: 96px;
  margin-bottom: 64px;
  max-width: 415px;
}

main {
  background-color: var(--medium);
  padding: 64px 0;
}

.card {
  background-color: var(--white);
  border-bottom: 8px solid var(--light);
  padding: 24px;
  margin: 0 -24px;
}

.indented-heading {
  font-size: 1.5rem;
  line-height: 1.5;
  background-color: var(--secondary-lighter);
  width: fit-content;
  margin: 0;
  margin-left: -32px;
  margin-top: -16px;
  margin-bottom: 1rem;
  padding: 16px 32px;
  border-bottom: 8px solid var(--secondary-darker);
}
