* {
  box-sizing: border-box;
  font-family: 'Lato', sans-serif;

  --primary: hsl(160deg, 100%, 30%);
  --secondary-lighter: hsl(45deg, 100%, 50%);

  --secondary-darker: hsl(46deg, 100%, 40%);
  --black: hsl(0deg, 0%, 0%);
  --very-dark: hsl(0deg, 0%, 10%);
  --dark: hsl(0deg, 0%, 30%);
  --medium: hsl(0deg, 0%, 40%);
  --light: hsl(0deg, 0%, 60%);
  --white: hsl(0deg, 0%, 100%);
}

html,
body {
  margin: 0;
  padding: 0;
}

.title {
  margin-bottom: 48px;
}

p {
  font-size: 1.25rem;
  color: var(--black);
  margin-top: 16px;
  margin-bottom: 16px;
}

strong {
  color: var(--primary);
}

header {
  border-bottom: 8px solid var(--light);
}

.max-width-wrapper {
  width: 800px;
  padding-right: 24px;
  padding-left: 24px;

  margin: 0 auto;
  min-height: 100%;
}

.intro-chunk {
  margin-top: 96px;
  margin-bottom: 64px;
  max-width: 415px;
}

main {
  background-color: var(--medium);
  padding-top: 72px;
  padding-bottom: 72px;
}

main .max-width-wrapper {
  background-color: var(--white);
  border-bottom: 8px solid var(--light);
}

.card {
  padding: 24px;
  margin: 0 -24px;
}

.card p {
  margin-bottom: 0;
}

.indented-heading {
  font-size: 1.5rem;
  background-color: var(--secondary-lighter);
  width: fit-content;
  margin: 0;
  margin-left: -32px;
  margin-top: -16px;
  margin-bottom: 1rem;
  padding: 16px 32px;
  border-bottom: 8px solid var(--secondary-darker);
}
